<%= form_for [@review, @review.comments.build] do |f|%>
	<%= f.hidden_field :review_id, value: @review.id %>
	<h4>
		<%= f.label :comment, "New Comment" %>
	</h4>
	<%= f.text_area :content, class: "form-control" %>
	<%= f.submit "Comment", class: "btn btn-primary" %>
<%end%>