<div class="container">
  <div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-10 padding-top-20">
      <div class="col-lg-12 main-content">
        <div class="col-lg-12 book-item">
          <div class="col-lg-6">
            <%= link_to @book do %>
              <%= image_tag("#{@book.image.url}",
                class: "book-item-img") %>
            <% end %>
          </div>
          <div class="col-lg-6">
            <div class="col-lg-12 padding-2">
            <ul class="book-item-list">
              <li <%= "class=favorited" if @book
                .is_favorite_of_user? current_user %>>
                <i class="glyphicon glyphicon-heart btn_favorite"
                  href="<%= marks_path %>"
                  data-user-id="<%= current_user.id %>"
                  data-book-id="<%= @book.id %>"
                  data-is-favorite="<%= @book
                    .is_favorite_of_user? current_user %>"></i>
              </li>
              <li <%= "class=reading" if @book
                .is_reading_of_user? current_user %>>
                <i class="glyphicon glyphicon-eye-open btn_reading"
                  href="<%= marks_path %>"
                  data-user-id="<%= current_user.id %>"
                  data-book-id="<%= @book.id %>"
                  data-next-status="<%=
                    @book.next_status_of_user current_user,
                      Settings.mark_status.reading %>"></i>
              </li>
              <li <%= "class=read" if @book
                .is_read_of_user? current_user %>>
                <i class="glyphicon glyphicon-check btn_read"
                  href="<%= marks_path %>"
                  data-user-id="<%= current_user.id %>"
                  data-book-id="<%= @book.id %>"
                  data-next-status="<%=
                    @book.next_status_of_user current_user,
                      Settings.mark_status.read %>"></i>
              </li>
            </ul>
            </div>
            <div class="col-lg-12 padding-2">
              <h5 class="margin-0 book-item-title">
                <%= link_to @book.title, book_path(@book) %>
              </h5>
            </div>
            <div class="col-lg-12 padding-2">
              <span class="book-item-price">
                <%= @book.price %> d
              </span>
            </div>
            <div class="col-lg-12 padding-2">
              Quality : <%= rating_for @book, "quality", disable_after_rate: true %>
            </div>
            <div class="col-lg-12 padding-2">
              Content : <%= rating_for @book, "content", disable_after_rate: true  %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= form_for @review, url: review_path do |f| %>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <div class="review_book_rate">
          <label class="lb_rate">
            Review Title: <a href="#" class="review_title"><%= @review.title %></a>
          </label>
        </div>
        <div class="review_book_rate col-md-12">
          <div class="panel panel-default panel_review_content">
            <div class="panel-heading">
              <%= t"review" %>
              <div class="review_content_head">
                <span class="glyphicon glyphicon-thumbs-up review_like"></span>
                <span class="glyphicon glyphicon-comment review_comment">
                </span>
                <% if current_user == @review.user %>
                  <a href="#" data-toggle="modal" data-target="#idmodal">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </a>
                  <%= link_to "", review_path(@review), method: :delete,
                    data: {confirm: t("confirm_delete")},
                    class: "glyphicon glyphicon-trash" %>
                <% end %>
              </div>
            </div>
            <div class="panel-body">
              <%= @review.content %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <div class="row fix-style-comments-section">
        <div class="row well">
          <%= render "comments/form" %>
        </div>
        <div class="header-comment">
          <%= render partial: "comments/comment", locals:{comments: @comments}%>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div class="modal fade" id="idmodal" role="dialog">
  <%= render partial: "edit", locals: {view: @view} %>
</div>