<% if user_signed_in? %>
  <div id="menu">
    <ul>
      <li>
        <%= link_to (t "devise.header.users"), users_path %>
      </li>
      <li>
        <% if current_user.is_admin? %>
          <%= link_to (t "devise.header.books"), admin_books_path %>
        <% else %>
          <%= link_to (t "devise.header.books"), books_path %>
        <% end %>
      </li>
      <li class="arrow_down">
        <% if current_user.is_admin? %>
          <%= link_to (t "admin.books.new.categories"), admin_categories_path %>
        <% else %>
          <%= link_to "Categories", categories_path %>
        <% end %>
      </li>
      <li>
        <% if current_user.is_admin? %>
          <%= link_to "Requests", admin_requests_path %>
        <% else %>
          <%= link_to "My requests", user_requests_path(current_user) %>
        <% end %>
      </li>
    </ul>
  </div>
<% end %>