<!DOCTYPE html>
<html>
  <head>
    <title>Book Review System</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
  </head>

  <body class="home">
    <%= render "layouts/header" %>
	  <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= render "layouts/left_menu_admin" %>
    <div class="container" id="container">
      <%= yield %>
    </div>  
  </body>
</html>
